.title {
  color: @primary-color;
  border-bottom: solid 1px @primary-color;
  display: inline-block;
  padding: 4px 8px;
}

.navTitle {
  padding: 12px;
  text-align: center;
}

.descriptions {
  :global {
    .ant-descriptions-item-label {
      text-align: center;
      min-width: 120px;
    }

    .ant-descriptions-item-content {
      text-align: center;
      color: var(--green)
    }
  }
}
