.title {
  display: inline-block;
  padding: 4px 8px;
  color: @primary-color;
  border-bottom: solid 1px @primary-color;
}

.navTitle {
  padding: 12px;
  text-align: center;
}

.noBorder {
  :global {
    .ant-descriptions-view {
      border: none !important;
    }
  }
}

.descriptions, .otherDescriptions {
  :global {
    .ant-descriptions-title {
      border-bottom: solid 1px #ececec;
    }

    .ant-descriptions-item-label {
      min-width: 70px;
      max-width: 200px;
      padding: 0 8px !important;
      text-align: center;
    }

    .ant-descriptions-item-content {
      text-align: center;

      > span {
        display: flex;
        width: 100%;
      }
    }
  }
}

.value {
  display: inline-block;
  flex-grow: 1;
  min-width: 70px;
  height: 22px;
  color: var(--green);
  line-height: 22px;
  border-left: 1px #f0f0f0 solid;
}
