.box {
  border-radius: 8px;
  border: solid 1px #cacaca;
  padding: 24px;
  height: 100%;
  position: relative;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .deviceReport {
    margin-top: 6px;
  }

  .deviceInOutReport {
    position: absolute;
    top: 8px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
  }
}
