.header {
  padding: 0;
  background-color: #FFFFFF;
  height: 48px !important;
  line-height: 48px !important;
  border-bottom: 1px solid #f0f0f0;

  :global {
    ul.ant-menu-horizontal {
      padding: 0 24px;
    }
  }

  .leftMenu {
    float: left;
    margin-right: 150px;
  }

  .rightMenu {
    float: right;
  }


}

.leftLogo {
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  border-bottom: 1px rgb(102, 102, 102) solid;
  padding: 8px 16px;
}

//.iconColor {
//  font-size:16px;
//  color:#ffffff;
//}
