.endNode {
  border-radius: 50%;
  font-size: 14px;
  color: rgba(25, 31, 37, .4);
  text-align: left;

  .endNodeCircle {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    background: #dbdcdc;
  }

  .endNodeText {
    margin-top: 5px;
    text-align: center;
  }
}
