
.parent {
  display: flex;

  .leftDiv {
    flex-grow: 1;
  }

  .rightDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: @primary-color;
    border-left: solid 1px rgb(238, 238, 238);
    cursor: pointer;
  }
}
