.box {
  width: 800px;
  margin: 50px auto;
  padding: 50px 50px;
  background-color: #fff;
}
h1 {
  text-align: center;
}
.input {
  display: inline-block;
  width: 100px;
  margin: 0 10px;
  border: none;
  border-bottom: solid 1px #333;
}

.biginput {
  border: none;
  border-bottom: solid 1px #333;
  width: 200px;
  margin: 0 10px;
}

form>div>div>p>div {
  display: inline-block !important;
  margin: 0 0 !important;
}
.span>div {
  display: inline-block !important;
  margin: 0 0 !important;
}
.span {
  width: 50%;
  float: right;
}

