.icon {
  font-size: 40px;
}

.tooltip {

  :global {
    .ant-tooltip-inner {
      box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
    }
  }
}

.tip {
  color: #000;
}

.test {
  animation: myfirst 2s;
}

@keyframes myfirst {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,0);
  }
}
