@import '~@alifd/next/lib/core/index.scss';

// -------------- variable --------------
$sing-title-prefix: '.sing-left-menu';

// Statement: Normal
// ----------------------------------------

/// 主题色
/// @namespace statement/normal
/// @type color
$sing-title-border-color: $color-brand1-6 !default;

/// 主标题字号大小
/// @namespace statement/normal
/// @type size
$sing-title-title-size: $font-size-subhead !default;

/// 主标题字体颜色
/// @namespace statement/normal
/// @type color
$sing-title-title-color: $color-text1-4 !default;

$sing-title-margin-left: $s-10 !default;

$margin: $s-5 !default;

$padding-left: $s-3 !default;

/// 副标题字体颜色
/// @namespace statement/normal
/// @type color
$sing-title-subtitle-color: $color-text1-3 !default;

/// 副标题字号大小
/// @namespace statement/normal
/// @type size
$sing-title-subtitle-size: $font-size-body-1 !default;

$sing-title-subtitle-margin-left: $s-3 !default;