//@import '~antd/dist/antd.css';

.tableWarp {
  width: 100%;
  padding: 0;

  :global {
    .search {
      padding-bottom: 16px;
      background-color: #FFF;
    }

    .ant-table-row {
      td {
        padding: 8px !important;
      }
    }

    .ant-table-row-selected {
      td {
        background-color: #fff !important;
      }
    }

    .ant-table-body {
      max-height: none;
    }

    .ant-form-item {
      min-width: 100px;
      margin-bottom: 16px;
    }

    .ant-select-in-form-item {
      min-width: 150px;
    }

    .ant-card-bordered {
      margin: 16px;
    }

    .ant-table-wrapper {
      //margin: 16px;

      .ant-pagination-total-text {

      }
    }
  }

  .setTing {
    //font-size: 32px;
    color: rgba(0, 0, 0, 1);
  }
}

.total {
  display: inline-block;
  height: 32px;
  margin-left: 8px;
  padding: 0 6px;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
}

.listHeader {
  display: flex;
  box-sizing: content-box;
  height: 32px;
  padding: 16px 16px;
  background-color: #FFF;
  border-bottom: 1px solid #f0f0f0;

  :global {
    .title {
      flex-grow: 3;

      .ant-breadcrumb {
        line-height: 32px;
      }

      h2 {
        margin: 0;
        font-size: 16px;
        line-height: 34px;

        .anticon {
          margin-right: 8px;
        }
      }
    }

    .actions {
      display: flex;
      flex-grow: 27;
      text-align: right;

      .search {
        //flex: 1;
        flex-grow: 1;
      }

      .button {
        //flex: 0;
        flex-grow: 1;
      }
    }
  }
}

.sortInput input {
  text-align: center;
}

.footer {
  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.sider {
  //position: fixed;
  left: 0;
  height: 100%; // calc(100vh - 112px);
  padding: 8px;
  overflow: auto;
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
}

.headerRow {
  //:global {
  //  .ant-table-cell {
  //    width: 100px !important;
  //    min-width: 100px !important;
  //  }
  //}
  th {
    padding: 8px !important;
    color: #fff !important;
    background-color: @primary-color !important;
  }
}
