//@import '~antd/dist/antd.css';
//@import '~antd/lib/style/themes/default.less';
//@import '~antd/dist/antd.less';
//@primary-color: #68b175;
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body, html {
  min-height: 100vh;
  --green: #009688;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  //-webkit-text-fill-color: #FFFFFF !important;
  transition: background-color 5000s ease-in-out 0s !important;
}


.web-content {
  position: fixed;
  top: 62px;
  //padding-top: 63px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: #F6F6F8 !important;
}

.content-wrap {
  position: relative;
  flex: 1 1 0;
  width: 100%;
  height: calc(100vh - 295px);
  overflow: auto;
  //background-color: #f0f2f5;

}

.button-left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

//::-webkit-scrollbar {
//  /* 滚动条整体样式 */
//  width: 8px; /* 高宽分别对应横竖滚动条的尺寸 */
//  height: 10px;
//}
//
//::-webkit-scrollbar-thumb {
//  /* 滚动条里面小方块 */
//  background-color: rgba(0, 0, 0, 0.2);
//  border-radius: 4px;
//}
//
//::-webkit-scrollbar-track {
//  /* 滚动条里面轨道 */
//  background: rgba(255, 255, 255, 0.5);
//  border-radius: 4px;
//  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//}

.ant-table-sticky-scroll {
  height: 16px !important;
}

.ant-table-sticky-scroll-bar {
  height: 14px;
}

.ant-modal {
  padding-bottom: 0 !important;
}

.h2Card {
  .ant-pro-card-header, .ant-card-head {
    padding: 8px 16px;
    //border-left: 3px solid @primary-color;
    .ant-pro-card-title {
      font-size: 14px;
    }

    .ant-card-head-title {
      font-size: 14px;
    }
  }
}

.h3Card {
  .ant-pro-card-header, .ant-card-head {
    padding: 4px 16px;
    //border-left: 2px solid @primary-3;
    .ant-pro-card-title {
      font-size: 14px;
    }

    .ant-card-head-title {
      font-size: 14px;
    }
  }
}

.ant-modal-content {
  //border-top: 3px solid @primary-color !important;
}

.div_center {
  max-width: 1200px;
  margin: auto;
}

.descriptionsCenter {
  .ant-descriptions-item-container {
    align-items: center;
  }
}

.ant-notification {
  z-index: 9999 !important;
}

.green {
  color: #009688 !important;
}

.close {
  color: #7f7f7f !important;
}

.red {
  color: #ff4d4f !important;
}

.blue {
  color: #0000ee !important;
}

.bgGreen {
  color: #fff !important;
  background-color: #009688 !important;
}

.primaryColor {
  color: #026d9b !important;
}

