@import '@alifd/next/reset.scss';

body {
  -webkit-font-smoothing: antialiased;
}
.next-input {
  overflow: hidden;
}
a{
  &:active{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
}

.button-right-margin {
  margin-right: $s-1;
}
.page{
  margin-top: 15px;
  .page-right{
    padding-right: 20px;
    text-align: right;
  }
}


.next-shell-brand {
  .next-shell-aside.next-shell-navigation {
    border-right: none !important;
  }

}
.topLine {
  border-top-color: $color-line1-1;
  border-top-width: $line-1;
  border-top-style: $line-solid;
}

.main-block {
  .next-card-header {
    padding: $s-zero;

    .next-card-header-title {
      h2 {
        margin: $s-1;
        color: $color-text1-3;
        font-weight: $font-weight-medium;
      }
    }
  }

  .next-card-content-container {
    padding: $s-4 0;
  }
}

.edit-block {
  .next-card-body {
    margin: $s-zero;
    padding: $s-zero !important;

    .next-card-header {
      margin: $s-zero !important;
      padding: $s-zero;

      .next-card-header-title {
        h3,h4,h5,h6 {
          margin: $s-zero;
          padding: $s-zero $s-1;
          color: $color-text1-3;
          font-weight: $font-weight-medium;
        }
      }
    }

    .next-card-content {
      .topLine {
        margin-top: $s-2;
        padding: $s-2;
      }
    }
  }
}




