@import '~antd/dist/antd.css';
@keyframes fade-in {
  0% {opacity: 0;}/* 初始状态 透明度为0 */
  40% {opacity: 0;}/* 过渡状态 透明度为0 */
  100% {opacity: 1;}/* 结束状态 透明度为1 */
}
body, html {
  min-height: 100vh;
}
.web-content{
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.content-wrap{
  position: relative;
  flex: 1 1 0;
  width: 100%;
  height: calc(100vh - 51px);
  overflow: auto;
  background-color: #f0f2f5;

}
.button-left-margin{
  margin-left: 5px;
}
